In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series(['a','b','c','d'])
np1 = np.array(['a','b','c','d'])
data_np = pd.Series(np1)

print(data)
print(data_np)

0    a
1    b
2    c
3    d
dtype: object
0    a
1    b
2    c
3    d
dtype: object

In [5]:
data_np = (pd.Series(np1, index=[12,13,14,15]))
print(data_np)

12    a
13    b
14    c
15    d
dtype: object

In [7]:
dict = {"Negara":["Indonesia", "Jepang", "India","China","Amerika Serikat"], "Ibu Kota":["Jakarta","Tokyo","New Delhi", "Beijing","Washington, D.C."],
       "Luas":[1905, 377972, 3287, 9597, 9834], "Populasi":[264, 143, 1252, 1357, 5298]}

df = pd.DataFrame(dict)
print(df)

            Negara          Ibu Kota    Luas  Populasi
0        Indonesia           Jakarta    1905       264
1           Jepang             Tokyo  377972       143
2            India         New Delhi    3287      1252
3            China           Beijing    9597      1357
4  Amerika Serikat  Washington, D.C.    9834      5298